<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
    <title>ERROR</title>
</head>
<body>
<h3 class=".fs-1 fw-bold text-center text-warning bg-dark">An error has occurred!</h3>
<p>Thymeleaf will produce error information here.</p>
<!-- <span th:if="${exception}" th:text="${message}"></span> -->
</body>
</html>