<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login to Code Fellowship</title>
</head>
<body>
<h1>Welcome!</h1>
<p>Login to Code Fellowship with your username and password.</p>
<p>If you have never logged on before, please <a href="/register">register</a> to get access!</p>
    <form action="/login" method="post" id="loginform">
        <label for="username">Enter your user name:</label>
        <input type="text" name="username" id="username" />
        <label for="password">Enter your password:</label>
        <input type="password" name="password" id="password" />
        <button type="submit" value="login">Log in!</button>
    </form>
</body>
</html>